<div id="<%= dom_id job %> ">

<div class="container px-4" style="background-color: #e9ecef;">
  <p>
    <strong>Job title:</strong>
    <%= job.Job_title %>
  </p>

  <p>
    <strong>Job description:</strong>
    <%= job.Job_description %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= job.Requirements %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= job.Time %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= job.Level %>
  </p>

  <p>
    <strong>User Id:</strong>
    <%= job.user_id %>
  </p>
</div>
</div>
